.cart {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 10;
  transition: "0.3s";
  background-color: #ffff;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  &::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    border-color: transparent transparent #ffff transparent;
    right: 20px;
    top: -17px;
  }
}
